@page
@model PublicProject.Pages.CRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Blog.Id" />
            <div class="form-group">
                <label asp-for="Blog.Header" class="control-label"></label>
                <input asp-for="Blog.Header" class="form-control" />
                <span asp-validation-for="Blog.Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Text" class="control-label"></label>
                <input asp-for="Blog.Text" class="form-control" />
                <span asp-validation-for="Blog.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Image" class="control-label"></label>
                <input asp-for="Blog.Image" class="form-control" />
                <span asp-validation-for="Blog.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Date" class="control-label"></label>
                <input asp-for="Blog.Date" class="form-control" />
                <span asp-validation-for="Blog.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.UserId" class="control-label"></label>
                <input asp-for="Blog.UserId" class="form-control" />
                <span asp-validation-for="Blog.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Popularity" class="control-label"></label>
                <input asp-for="Blog.Popularity" class="form-control" />
                <span asp-validation-for="Blog.Popularity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Footer" class="control-label"></label>
                <input asp-for="Blog.Footer" class="form-control" />
                <span asp-validation-for="Blog.Footer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Facebook" class="control-label"></label>
                <input asp-for="Blog.Facebook" class="form-control" />
                <span asp-validation-for="Blog.Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Instagram" class="control-label"></label>
                <input asp-for="Blog.Instagram" class="form-control" />
                <span asp-validation-for="Blog.Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.YouTube" class="control-label"></label>
                <input asp-for="Blog.YouTube" class="form-control" />
                <span asp-validation-for="Blog.YouTube" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Twitter" class="control-label"></label>
                <input asp-for="Blog.Twitter" class="form-control" />
                <span asp-validation-for="Blog.Twitter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Blog.Style" class="control-label"></label>
                <input asp-for="Blog.Style" class="form-control" />
                <span asp-validation-for="Blog.Style" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
