@page
@model PublicProject.Pages.CommentAdmin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comment.Id" class="control-label"></label>
                <input asp-for="Comment.Id" class="form-control" />
                <span asp-validation-for="Comment.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.Author" class="control-label"></label>
                <input asp-for="Comment.Author" class="form-control" />
                <span asp-validation-for="Comment.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.Text" class="control-label"></label>
                <input asp-for="Comment.Text" class="form-control" />
                <span asp-validation-for="Comment.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.Image" class="control-label"></label>
                <input asp-for="Comment.Image" class="form-control" />
                <span asp-validation-for="Comment.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.Date" class="control-label"></label>
                <input asp-for="Comment.Date" class="form-control" />
                <span asp-validation-for="Comment.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.BlogId" class="control-label"></label>
                <input asp-for="Comment.BlogId" class="form-control" />
                <span asp-validation-for="Comment.BlogId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
