@page
@model PublicProject.Pages.Reports.CreateModel

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Report";
    var user = await UserManager.GetUserAsync(User);
}


<h2>Create</h2>

<h4>ReportMessage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReportMessage.reporterId" class="control-label"></label>
                <input asp-for="ReportMessage.reporterId" value="@user.Id" readonly class="form-control" />
                <span asp-validation-for="ReportMessage.reporterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportMessage.reportedId" class="control-label"></label>
                <input asp-for="ReportMessage.reportedId" class="form-control" />
                <span asp-validation-for="ReportMessage.reportedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportMessage.Text" class="control-label"></label>
                <input asp-for="ReportMessage.Text" class="form-control" />
                <span asp-validation-for="ReportMessage.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
