html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*html {
  position: relative;
  min-height: 100%;
}*/

/*body {
  margin-bottom: 60px;
}
body {*/
  /*  background-image: url('/img/backgroundpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
}
/*.mycontainer {
    background-color: white;
}*/
.frontpage-text{
    font-size: 50px;
    text-align: center;
}
/*.blog-content{
    background-color: red;
}
.blog-header{
    text-align: center;
    font-family: 
}*/

.frontpage-text{
    border: solid;
    background-color: white;
    font-style: italic;
}
.example-blog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondfrontpage-text {
    border: solid;
    background-color: lightblue;
    font-style: oblique;
}
/*.container .secondfrontpage-text{
    padding: 5px;
    font-size:50px;
    text-align: center;
}*/
.viewbutton{
    text-align: center;
    padding: 5px;
}
