@page
@model PublicProject.Pages.IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
   
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <p>Du är inloggad som @User.Identity.Name</p>

    <form method="post" enctype="multipart/form-data">

        <label asp-for="Blog.Style" class="form-label"></label>
        <input asp-for="Blog.Style" class="form-control" />



        <label asp-for="Blog.Header" class="form-label"></label>
        <input asp-for="Blog.Header" class="form-control"/>

        <label asp-for="Blog.Text" class="form-label"></label>
        <textarea asp-for="Blog.Text" class="form-control" cols="40" rows="5"></textarea>

  
        <label asp-for="Blog.Image" class="form-label"></label>
        <input type="file" class="form-control" name="UploadedImage">


        <label asp-for="Blog.Footer" class="form-label"></label>
        <textarea asp-for="Blog.Footer" class="form-control" cols="40" rows="5"></textarea>

        <div class="form-group">
            <label asp-for="Blog.Facebook" class="control-label"></label>
            <input asp-for="Blog.Facebook" class="form-control" />
            <span asp-validation-for="Blog.Facebook" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Blog.Instagram" class="control-label"></label>
            <input asp-for="Blog.Instagram" class="form-control" />
            <span asp-validation-for="Blog.Instagram" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Blog.YouTube" class="control-label"></label>
            <input asp-for="Blog.YouTube" class="form-control" />
            <span asp-validation-for="Blog.YouTube" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Blog.Twitter" class="control-label"></label>
            <input asp-for="Blog.Twitter" class="form-control" />
            <span asp-validation-for="Blog.Twitter" class="text-danger"></span>

        <input type="submit" class="btn btn-success" value="Spara inlägg">
    </form>
}

