@page
@model PublicProject.Pages.CreateBlogModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Skapa inlägg";
    var user = await UserManager.GetUserAsync(User);
}

<head>
    <title>Itsy | A cutesy little template by FreeHTML5.co</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
          type="text/css" media="screen" />
    <link rel="stylesheet" href="css/Itsy/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/Itsy/print.css" type="text/css" media="print" />
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script src='js/jquery-3.0.0.min.js'></script>
    <script src='js/jquery-migrate-3.0.1.min.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

@if (SignInManager.IsSignedIn(User))
{
    <h1>Nytt inlägg</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Blog.Title" class="control-label"></label>
                    <input asp-for="Blog.Title" class="form-control" />
                    <span asp-validation-for="Blog.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Blog.Text" class="control-label"></label>
                    <input asp-for="Blog.Text" class="form-control" />
                    <span asp-validation-for="Blog.Text" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="Blog.Date" class="control-label"></label>

                    <input asp-for="Blog.Date" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" readonly class="form-control" /> 
                    <span asp-validation-for="Blog.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Blog.UserId" value="@user.Id" readonly class="form-control" type="hidden" />
                    <span asp-validation-for="Blog.UserId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Blog.Popularity" class="form-control" value="0" readonly type="hidden" />
                    <span asp-validation-for="Blog.Popularity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Blog.SubcategoryId" value="@Model.subcategoryid" readonly class="form-control" type="hidden" />
                    <span asp-validation-for="Blog.SubcategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                   
                    <input type="file" class="form-control" name="UploadedImage">
                    <input type="submit" value="Skapa" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>



    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

 
}
else
{
    <h3>For you to be able to post something on our website you need to <a href="~/Identity/Account/Login">Register/Login</a></h3>
}

<footer class="footer">
    <div class="footer-wrap">
        <div id="footer-text">
            &copy; 2023 - Snackis - <a asp-area="" asp-page="/Privacy">Integritet</a>
        </div>
        <a href="#top" id="btt">Top <i class="fa fa-chevron-up"></i></a>
    </div>
</footer>

<script>var ie9 = false;</script>
<script src="js/global-plugins.min.js"></script>
<script src="js/main.js"></script>