@page
@model PublicProject.Pages.NewSubcategoriesModel
@{
}


@foreach (var sub in Model.Subcategories)
{
    if(Model.Category.Id == sub.CategoryId)
    {
        <a asp-page="/ViewBlog" asp-route-id="@sub.Id"> @sub.Name </a>
    }
}