@page
@model PublicProject.Pages.NewSubcategoriesModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<h2 class="home-sticky-title">SubCategories</h2></a>

@foreach (var sub in Model.Subcategories)
{
    if(Model.Category.Id == sub.CategoryId)
    {
        <a asp-page="/ViewBlog" asp-route-id="@sub.Id"> @sub.Name </a>
    }
}