@page
@model OverviewModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    
}
@if (SignInManager.IsSignedIn(User))
{
    
    var profile = Model.UserProfiles.FirstOrDefault(x => x.UserId == user.Id);
   
    @if (profile != null)
    {

    
        <head>
            <title>Itsy | A cutesy little template by FreeHTML5.co</title>

            <meta charset="UTF-8" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                  type="text/css" media="all" />
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
                  type="text/css" media="screen" />
            <link rel="stylesheet" href="css/Itsy/style.css" type="text/css" media="screen" />
            <link rel="stylesheet" href="css/Itsy/print.css" type="text/css" media="print" />
            <!--[if (lt IE 9) & (!IEMobile)]>
            <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
            <![endif]-->
            <script src='js/jquery-3.0.0.min.js'></script>
            <script src='js/jquery-migrate-3.0.1.min.js'></script>
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        </head>
        <body class="home sticky-menu sidebar-off" id="top">



            <div class="wrap full-wrap">
                <div class="main-wrap">

                    <section class="main">
                        <article class="post page">

                            <div class="inner">
                                <h1>@profile.UserName</h1>
                                <div class="post-content">
                                    <p>
                                        <img class="size-full alignleft rounded" src="~/img/@profile.Imglink" alt="about-clare" width="300" height="300">
                                        
                                    </p>
                                   
                                </div>
                            </div>

                        </article>
                        <div class="border"></div>

                    </section>

                </div><!-- /main-wrap -->


            </div><!-- /wrap -->


            <div id="topsearch">
                <div class="table">
                    <div class="table-cell">
                        <form role="search" method="get" class="searchform" action="index.html">
                            <div>
                                <input type="text" value="" name="s" class="s" placeholder="Type and hit enter" />
                                <input type="submit" class="searchsubmit" value="Search" />
                            </div>
                        </form>
                    </div>
                </div>
                <a href="#topsearch" class="search-trigger"><i class="fa fa-times"></i></a>
            </div>


            <script>var ie9 = false;</script>
            <!--[if lte IE 9 ]>
            <script> var ie9 = true; </script>
            <![endif]-->
            <script src="js/global-plugins.min.js"></script>
            <script src="js/main.js"></script>
        </body>

    }

    <a asp-page="/ViewMessages" asp-route-id="@user.Id">View messages</a>

    <form method="post" enctype="multipart/form-data">

        <label asp-for="UserProfile.UserName" class="form-label"> Lägg till/ändra namn</label>
        <input asp-for="UserProfile.UserName" class="form-control" cols="40" rows="5">
        <label asp-for="UserProfile.Imglink" class="form-label">Lägg till/byt profilbild </label>
        <input type="file" class="form-control" name="UploadedImage">
        <input type="submit" class="btn btn-success" value="Spara profil">
    </form>
}










