@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{

    

    <p>Du är inloggad som @User.Identity.Name</p>   

    <input type="button" class="alert alert-success" value="Create blog">

    @if (Model.Blogs != null)
    {
        @foreach (var b in Model.Blogs)
        {
            if (b.UserId == user.Id)
            {
                <div class="card m-2" style="width: 10rem">
                    <img class="card-img-top" src="~/img/@b.Image">
                    <div class="card-body">
                        <h5 class="card-title">@b.Header</h5>
                        <p class="card-text">@b.Text</p>
                    </div>
                    <p class="card-footer">@b.Date</p>
                </div>
            }
        

        }
    }


  



}