@page
@model PrivacyModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}


<div>
    @await Html.PartialAsync("Privacy")
</div>