@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model PublicProject.Pages.SendmessageToUserViewModel
@{
    var user = await UserManager.GetUserAsync(User);
    var användare = Model.UserProfiles.Where(x => x.UserId == Model.userid).FirstOrDefault();
   
}

<head>
    <title>Itsy | A cutesy little template by FreeHTML5.co</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
          type="text/css" media="screen" />
    <link rel="stylesheet" href="css/Itsy/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/Itsy/print.css" type="text/css" media="print" />
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script src='js/jquery-3.0.0.min.js'></script>
    <script src='js/jquery-migrate-3.0.1.min.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="home sticky-menu sidebar-off" id="top">

    <div class="wrap full-wrap">
        <div class="main-wrap">

            <section class="main">
                <article class="post page">

                    <div class="frontpage-container" text-align="center">
                        <h1>@användare.UserName's sida</h1>
                        <div class="post-content">
                            <p>
                                <img class="size-full alignleft rounded" src="~/img/@användare.Imglink" alt="about-clare" width="300" height="300">

                            </p>

                        </div>
                    </div>

                </article>
                <div class="border"></div>

            </section>

        </div><!-- /main-wrap -->


    </div><!-- /wrap -->
    <div class="row">
        <div class="col-md-4">
            @if (SignInManager.IsSignedIn(User))
            {
                 <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Message.Id" />
                <div class="form-group">
                   
                    <input asp-for="Message.SenderId" value="@user.Id" class="form-control" type="hidden" />
                    <span asp-validation-for="Message.SenderId" class="text-danger"></span>
                </div>
                <div class="form-group">
                 
                    <input asp-for="Message.RecieverId" value="@användare.UserId" type="hidden" readonly class="form-control"  />
                    <span asp-validation-for="Message.RecieverId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Message.Text" class="control-label"></label>
                    <input asp-for="Message.Text" class="form-control" />
                    <span asp-validation-for="Message.Text" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <input asp-for="Message.Date" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" readonly type="hidden" class="form-control" />
                    <span asp-validation-for="Message.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
            }
           
        </div>
    </div>

 


    <script>var ie9 = false;</script>
    <!--[if lte IE 9 ]>
    <script> var ie9 = true; </script>
    <![endif]-->
    <script src="js/global-plugins.min.js"></script>
    <script src="js/main.js"></script>
</body>

    