@page
@model PublicProject.Pages.NewSubcategoriesModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}


<html class="home blog no-js" lang="en-US">
<head>
    <title>Itsy | A cutesy little template by FreeHTML5.co</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css" media="all" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC%3A400%2C700%7CLato%3A400%2C700%2C400italic%2C700italic&amp;ver=4.9.8"
          type="text/css" media="screen" />
    <link rel="stylesheet" href="css/Itsy/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/Itsy/print.css" type="text/css" media="print" />
    <!--[if (lt IE 9) & (!IEMobile)]>
    <link rel="stylesheet" id="lt-ie9-css" href="ie.css" type="text/css" media="screen"/>
    <![endif]-->
    <script src='js/jquery-3.0.0.min.js'></script>
    <script src='js/jquery-migrate-3.0.1.min.js'></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="home sticky-menu sidebar-off" id="top">
    <div class="home-sticky" id="content">
        <h2 class="home-sticky-title">Huvudkategorier</h2></a>
        <div class="sticky-inner">
            <section>
                @foreach (var sub in Model.Subcategories)
                {
                    if (Model.Category.Id == sub.CategoryId)
                    {
                        <a asp-page="/ViewAllBlogs" asp-route-SubCategoryId="@sub.Id"><h3> @sub.Name </h3> </a>
                    }
                }
            </section>
        </div>
    </div>
    <script>var ie9 = false;</script>
    <script src="js/global-plugins.min.js"></script>
    <script src="js/main.js"></script>
</body>