body {
    
}
*{
    background-color: antiquewhite;
}
.Page-Header {


    /*border: solid;
    text-align: center;*/
}
    .Page-Header h3 {
        font-size: 25px;
        font-family: 'Bauhaus 93';
        background-color: lightblue;
        padding: 2rem;
        margin: 2rem;
        border-radius: 0px 50px 0px 50px;
        border: solid black;
        text-align: center;
    }
.Page-Body img {
    width: 450px;
    height: 250px;
    border-radius: 50px;
    margin: 1rem auto;
    display: block;
    border: solid red;
    text-align:center;
}
.Page-Body p {
    font-family: 'Bradley Hand ITC';
    border: solid red;
    font-style: oblique;
    text-align: left;
    font-size: 25px;
    border-radius= 50px;
    background-color: lightgray;
}




.Page-Footer{

}
